ol.a {
    list-style-position: outside;
    border: 1px solid black;
}

ol {
    list-style-position: inside;
    border: 1px solid black;
}

ul.b {
    list-style-position: outside;
    border: 1px solid black;
}

ul {
    list-style-position: inside;
    border: 1px solid black;
}
/* Selector descendente */
div p{
    color: aqua;
}

/* Selector hijo */
span>a{
    color: green;
}
/* Selector adyacente hermano */
h4 + h5{
    color: chocolate;
}
/* Selector hermano general */
h5 ~ h6{
    color: yellowgreen;
}
/* Pseudoclases */
a.resaltado:hover{
    background-color: thistle;
}
