.margenSuperior{
margin-top:40px;
}
.margenInferior{
margin-bottom: 60px;
}
.margenIzquierdo{
margin-left: 100px;
}
.margenDerecho{
margin-right: 100px;
}
.capa{
    width: 100px;
    height: 100px;
    border: solid black 1px;
    box-sizing: border-box;
    float: left;
    overflow: auto;
}
.capaCentradaFlotante{
    float: left;
    margin: auto;
    width: 20%;
    height: 300px;
    border: 1px solid black;
}
.capaContenedora{
    width: 100%;
    display: flow-root; /*Clear-fix moderno que se utiliza para acabar con los problemas derivados de los flotantes*/
}
.capaFlotarDerecha{
    float: right;
    margin: auto;
    width: 20%;
    height: 300px;
    border: 1px solid black;
}